{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false
    },
    "extends": "airbnb",
    "rules": {
        "max-lines-per-function": ["error", 40],
        "linebreak-style": ["error", "windows"]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
