@import './mixin-var.scss';

html {
  height: 100%;
}

.body {
  background: #000000;
  font-family: 'Tactic Sans Extended';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  height: 100%;

  &__content {
    padding: 0 $side-padding;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.main {
  flex: 1 1 auto;

  &__content {

  }
}

.tab {
  width: 100%;
  padding: 50px 0 0;
  &-caption {
    @include flex-row;
    margin: 40px 0;
    font-size: 23px;
    text-transform: uppercase;

    &__count {

      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }
    }
  }
}

.page-controls {
  @include flex-row;

  &__number {
    min-width: 30px;
    text-align: center;
  }
}

.car {
  &__body {

  }

  &__wheel {
    transform-origin: center;
  }
}
