@import './mixin-var.scss';

.sort-arrow {
  display: none;
  height: 20px;
  transform-origin: center;
}

.winners-table {
  margin-bottom: 30px;

  &-wrap {
    @include flex-row-center;
    width: 100%;
  }

  svg {
    width: 70px;
    height: 40px;
  }

  &__cell {
    text-align: center;
    padding: 5px 15px;
    background-color: gray;
    color: #000000;

    @media screen and (max-width: 620px) {
      padding: 5px 5px;
    }
  }

  &__header-cell {
    text-transform: uppercase;
    padding: 15px;
    background-color: $main-color;
    color: #000000;

    @media screen and (max-width: 620px) {
      padding: 15px 5px;
    }

    &[data-name] {
      width: 300px;
      max-width: 300px;
    }

    &[data-sort] {
      cursor: pointer;
    }

    &[data-order] .sort-arrow{
      display: block;
    }

    &[data-order="DESC"] .sort-arrow {
      transform: rotate(180deg);
    }

    &-content {
      @include flex-row-center;
      gap: 0;
    }
  }
}

.tab-winners {

  &__page-controls {
    justify-content: center;
  }

  &__caption {
    justify-content: center;
  }

  @media screen and (max-width: 900px) {
    padding-top: 0;
  }
}
