@import './mixin-var.scss';

.tab-garage {

  &__page-controls {
    justify-content: center;
  }

  &__caption-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media screen and (max-width: 620px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.race-stopwatch {
  justify-self: center;
  font-size: 23px;
  color: $main-color;

  @media screen and (max-width: 620px) {
    justify-self: end;
  }

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

.control-panel {

  &__button {
    width: 135px;

    &__create {

    }
  }
}

.control-panel {
  @include flex-column;

  @media screen and (max-width: 670px) {
    align-items: center;
  }
}

.new-car {
  @include flex-row;
}

.update-car {
  @include flex-row;
}

.controls {
  @include flex-row;
  &__race-button {
    width: 115px;
  }
  &__reset-button {
    width: 115px;
  }
  &__generate-button {
    width: 175px;
  }
}

.race-area {
  width: 100%;
}

.race {
  width: 100%;
  margin-bottom: 35px;

  &__road {
    height: 120px;
    width: calc(100% + 80px);
    position: relative;
    left: -$side-padding;
    background: url('./../images/flag.svg') calc(100% - 135px) calc(100% - 1px) no-repeat, url('./../images/race-bg.svg') 0 0/ cover repeat;
  }

  &__car {
    width: fit-content;
    position: absolute;
    bottom: 5px;
    left: $side-padding;
    height: 65px;
    z-index: 2;
  }

  &__buttons, &__controls {
    @include flex-row;
  }

  &__buttons {
    margin-bottom: 15px;
  }

  &__button {
    width: 135px;
  }

  &__control {
    &_start {
      padding-left: 2px;
    }
  }
}

.race-animation {
  .car__wheel {
    transform-box: fill-box;
    transform: rotate(1360deg);
    transition: transform 0s linear;
  }
}
